// out: ../css/block.css, compress: true
@import 'variables.less';
// Name:            block
//
// ----------------------------------------------------
// Block '.block'
// ----------------------------------------------------
.block {
    position: relative;
    padding: @block-padding 0;

    // -----------------------------------------
    // All modificators
    // -----------------------------------------

    // Modificator '.block.block--sm'
    &&--sm{
        padding: @block-padding-sm 0;
    }

    // Modificator '.block.block--md'
    &&--md{
        padding: @block-padding-md 0;
    }

    // Modificator '.block.block--lg'
    &&--lg{
        padding: @block-padding-lg 0;
    }

    // Modificator '.block.block--xlg'
    &&--xlg{
        padding: @block-padding-xlg 0;
    }

    // Modificator '.block.block--xxlg'
    &&--xxlg{
        padding: @block-padding-xxlg 0;
    }

    // Modificator '.block.block--blue-gradien'
    &&--blue-gradien{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5f3fc+12,e5f3fc+88,ffffff+100 */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #e5f3fc 12%, #e5f3fc 88%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#e5f3fc 12%,#e5f3fc 88%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#e5f3fc 12%,#e5f3fc 88%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    // Modificator ',block.block--main'
    &&--main{
        padding: 100px 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    // Modificator ',block.block--pre-footer'
    &&--pre-footer{
        padding: 100px 0;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        background-color: #263340;
        color: #fff;
    }

    // -----------------------------------------
    // All elements
    // -----------------------------------------

    // Element '.block .block__title'
    & &__title{
        font-size: 1.8rem;
        color: #273341;
        line-height: 3rem;
        margin-bottom: 25px;
    }

    // Element '.block .block__text'
    & &__text{
        font-size: .8rem;
        color: #60707f;
        line-height: 1rem;
    }

    // Element '.block .block__icon'
    & &__icon{
        margin-top: 15px;
    }
}
