// out: ../css/footer.css, compress: true
@import 'variables.less';
// Name:            footer
//
// ----------------------------------------------------
// Block '.footer'
// ----------------------------------------------------
.footer {
    position: relative;
    background-color: #263340;
    color: #8998a6;
    padding: 40px 0;
    
    // -----------------------------------------
    // All modificators
    // -----------------------------------------


    // -----------------------------------------
    // All elements
    // -----------------------------------------

    // Element '.footer .footer__list'
    & &__list{

        .list__link{
            text-decoration: none;
            color: inherit;
            font-weight: 100;
            font-size: .8rem;
        }
    }

}
